@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; */
  background-color: grey;
  color: white;
}

h1 {
  margin-bottom: 0.5rem;
}

.container {
  text-align: center;
  /* background-color: #1a1919; */
  background-color: #2c2c2c;
  padding: 2rem 3.5rem;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.15);
}

.color-box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  /* border: 1px solid #1d1c1c; */
  border-radius: 8px;
}

.options {
  display: flex;
  justify-content: center;
}

.option {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
}

#gameStatus {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.1rem;
}

button {
  padding: 10px 20px;
  margin-top: 1.5rem;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: rgb(170, 167, 167);
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 2rem 2rem;
    margin: 0 0.3rem;
  }
  .options {
    flex-wrap: wrap;
  }
}
