@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
  color: white;
}

h1 {
  margin-bottom: 0.5rem;
}

.container {
  text-align: center;
  background-color: #2c2c2c;
  padding: 2rem 3.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.color-box {
  width: 200px;
  height: 200px;
  margin: 1.5rem auto;
  /* border: 1px solid #1d1c1c; */
  border-radius: 8px;
}

.options {
  display: flex;
  justify-content: center;
}

.option {
  width: 65px;
  height: 65px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.option:hover {
  scale: 1.05;
}

#gameStatus {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.1rem;
}

button {
  padding: 10px 20px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: 8px 3px 25px 3px rgba(255, 255, 255, 0.15);
}

button:hover {
  background-color: rgb(170, 167, 167);
}

.shake {
  animation: shake 0.5s ease forwards;
}

.pulse {
  animation: pulse 0.6s ease forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 2rem 2rem;
    margin: 0 0.3rem;
  }
  .options {
    flex-wrap: wrap;
  }
}
